<p>
<form name="adminCreate" id="AdminCreate" method="post" action="/list/Admin/Edit">
    <label> Номер паспорта:
        <input name="N_passport" type="text" size="20" value="{{{admin1.n_passport}}}">
    </label>
    <label>Имя
        <input name="Name" type="text" size="20" value="{{{admin1.name}}}">
    </label>
    <label>Стаж
        <input name="Experience" type="number" size="20" value={{{admin1.experience}}}>
    </label>
    <label>Номера
        <input name="Phones" type="text" size="20" value={{{phones}}}>
    </label>
    <input name="ID" type="hidden" value="{{{admin1.id}}}">
    <input type="submit" />
</form>
</p>


