<h1> Ваш профиль </h1>
Ваш логин:{{login}}
<br>
Ваше имя:{{admin.name}}
<br>
<td> Стаж: {{admin.experience}} </td>

<td>Телефоны: {{#each admin.phones}}
    {{this.Phone}}

{{/each}}</td>
<form action="/list/Admin/delete/{{admin.id}}" method="POST">
    <input type="submit" value="Удалить профиль"/>
</form>
<form action="/list/Admin/edit/{{admin.id}}" method="get">
    <input type="submit" value="Изменить профиль"/>
</form>
<td>