
<p><a href="/list/Admin/Create">Добавить администратора</a></p>

<h2>Админы: </h2>
{{#each recordsAdmins}}
    <tr>
        <td> Имя: {{this.name}}</td>
        <td>  Стаж: {{this.experience}} </td>
        <td>Телефоны: {{#each this.phones}}
            {{this.Phone}}

        {{/each}}</td>

        <td>
            <a href="/list/Admin/edit/{{this.ID}}">Edit</a>|
            <form action="/list/Admin/delete/{{this.ID}}" method="POST" style="display:inline;">
                <input type="submit" value="Delete" />
            </form>
        </td>

    </tr>
    <br>
{{/each}}