<h1>Купить абонемент</h1>
<form method="post" name="buyContract">
    <label>Дата начала
        <input name="dateStart" type="date" value="{{{year}}}-{{{month}}}-{{{day}}}">
    </label>
    <label>Дата конца
        <input name="dateEnd" type="date" value="{{{nextYear}}}-{{{month}}}-{{{day}}}">
    </label>
    <label>Количество посещений
        <input id="n" name="enterNumber" type="number" value="100">
    </label>
    <label>Цена
<input id="pr" name="price" type="number" value="10000" readonly>
    </label>
    <br>
<label>Введите имя администратора(Не обязательно)
    <select name="idAdm">
        <option value="not"> </option>
        {{#each admins}}
<option value={{this.ID}}>{{this.Name}}</option>
        {{/each}}
    </select>
</label>
    <input type="submit" value="Купить">
</form>

{{#section 'scripts'}}
    <script>
        const numberElem=document.getElementById('n')
        const pricingElem=document.getElementById('pr')

        numberElem.addEventListener('change',()=>{
            pricingElem.value=numberElem.value*100
        })

    </script>
{{/section}}