{{#if partials.admin}}
    <p><a href="/list/Admin/Create">Добавить администратора</a></p>
{{/if}}
<h2>Администраторы: </h2>
{{#each recordsAdmins}}
    <tr>
        <td> Имя: {{this.name}}</td>
        <td> Стаж: {{this.experience}} </td>

        <td>Телефоны: {{#each this.phones}}
            {{this.Phone}}

        {{/each}}</td>

        <td>

            {{#if ../partials.admin}}
                <a href="/list/Admin/edit/{{this.id}}">Edit</a>|


                <form action="/list/Admin/delete/{{this.id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete"/>
                </form>
            {{/if}}
        </td>

    </tr>
    <br>
{{/each}}
<h2>Тренеры: </h2>
{{#if partials.admin}}
    <p><a href="/list/Coach/Create">Добавить тренера</a></p>
{{/if}}
{{#each recordsCoaches}}
    <tr>
        <td> Имя: {{this.name}}</td>
        <td> Стаж: {{this.experience}} </td>

        <td>Телефоны: {{#each this.phones}}
            {{this.Phone}}

        {{/each}}</td>

        <td>

            {{#if ../partials.admin}}
                <a href="/list/Coach/edit/{{this.id}}">Edit</a>|


                <form action="/list/Coach/delete/{{this.id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete"/>
                </form>
            {{/if}}
        </td>

    </tr>
    <br>
{{/each}}
